<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <setting id="timer_amount" type="enum" values="5|30|120|300|600" label="30000" default="0" />
    <setting id="observe_video" type="bool" label="30001" default="false" />
    <setting id="observe_audio" type="bool" label="30002" default="true" />
    <setting id="rewind_before_play" type="enum" values="0|5|15|60|180|300" label="30003" default="0" />
    <setting id="auto_resume" type="bool" label="30004" default="false" />
    <setting id="observe_limit" type="bool" label="30006" default="false" />
    <setting id="observe_folder1" type="folder" label="30005" />
    <setting id="observe_folder2" type="folder" label="30005" />
    <setting id="observe_folder3" type="folder" label="30005" />
</settings>
